/* modifiers */
.-card {
  margin: auto;
  max-width: 90vw;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);  
  padding: 1em;
  margin-top: 1em;


}

.-fauxProgressBar {
  background: linear-gradient(to left, rgba(117,117,117,0.5) 50%, rgba(117,117,117,0.2) 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: background 0.3s;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.-fauxProgressBar-light {
  background: linear-gradient(to left, rgba(255,255,255,0) 50%, rgba(117,117,117,0.2) 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition: background 0.3s;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.-fauxProgressBar:hover, .-fauxProgressBar-light:hover {
  background-position:left bottom;
}

.-retractingUnderline {
  display: inline-block;
  position: relative;
}
.-retractingUnderline:before {
  background: rgba(117,117,117,1);
  content: "";
  display: block;
  position: absolute;
  bottom: -0.1em;
  height: 0.1em;
  width: 100%;
  transition: all 0.3s;
}
.-retractingUnderline:hover:before {
  width: 0em;    
}

.-animateUpAndForward{
  animation: upAndForward 0.5s;
  animation-timing-function: ease-out;
}
@keyframes upAndForward {
  0% {
    transform: translateY(50vw) scale(0.7);
    opacity: 0;
  }
  40% { transform: translatey(0) scale(0.7); opacity: 0.05; }
  80% { transform: scale(0.7); opacity: 1; }
  100% {
    transform: scale(1);
  }
}
/* abstract */

/* organismCard */


/* leadForm */
.o-leadForm {
  max-width: 30em;
  margin: 1em auto; 
  padding: 1em;
  background: rgba(255,255,255,0);
  color: rgba(44,44,44,1);
  font-family: 'Montserrat', sans-serif;
}
.o-leadForm__ul {
  list-style:none;
  padding:0; margin:0;
}
.m-leadForm__li {
  display: block;
  padding: 0.59em;
  border: 0.1em solid rgba(117,117,117,1);
  margin-bottom: 3em;
  background-color: rgba(242,242,242,1);
  transition: background-color 0.3s;
}
.m-leadForm__li:last-child {
  border:none;
  text-align: center;
  background-color: rgba(255,255,255,1);
}
.m-leadForm__li > label {
display: block;
float: left;
position: relative;
left: 25%;
margin: -1.5em auto;
letter-spacing: .5em;
font-weight: bold;
background: rgba(255,255,255,1);
padding: 0 0.4em;
color: rgba(117,117,117,1);
overflow: hidden;
}
.m-leadForm__li > span {
  background: rgba(117,117,117,0.5);
  display: block;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: rgba(44,44,44,1);
  font-family: font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}
.a-leadForm__input, .a-leadForm__textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 2em;
  line-height: 1.1em;
  font-size: 1.3em;
  padding: 0.2em;
  font-family: 'Montserrat', sans-serif;
}
.a-leadForm__input::placeholder, .a-leadForm__textarea::placeholder {
  color: rgba(117,117,117,0.5);
  font-style: italic;
}
.a-leadForm__li:focus-within {
  background-color: rgba(255,255,255,1);
}
.a-leadForm__textarea {
  resize: none;
  max-width: 100%;
  width: 200em;
  height: 12em;  
}
.a-leadForm__submitButton {
  border: none;
  color: rgba(44,44,44,1);
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.6em;
  padding: 0.5em 1.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.a-leadForm__submitButton:hover {
  outline-style: none;
}

/* mailingOptIn */
.o-mailingOptIn {
  list-style: none;
  display: block;
  max-width: 15em;
  padding: 0.5em 0 0.5em 0.5em;
  font-family: "Montserrat", monospace;
  border-radius: 0.5em;
  background-color: rgba(222,222,222,1);
}
.a-mailingOptIn__emailInput {
  outline: none;
  border: none;
  margin-bottom: 0.3em;
  font-size: 1em;

}
.a-mailingOptIn__emailInput::placeholder {
  color: rgba(117,117,117,0.5);
  font-style: italic;
  font-family: "Montserrat", sans-serif;
}
.a-mailingOptIn__submitButton {
  text-align: center;
  cursor: pointer;
  font-family: monospace;
  padding: 0;
  font-size: 2.5em;
  background: none;
  border: none;
  margin-top: -0.5em;
  vertical-align: bottom;
}
.a-mailingOptIn__submitButton:hover, .a-mailingOptIn__submitButton:focus {
  outline-style: none;
  color: rgba(117,117,117,1);
}
.a-mailingOptIn__disclaimer {
  font-size: 0.65rem;
  font-style: italic;
  line-height: 1;
  margin: 0;

}

.o-simpleLetter {
  color: rgba(44,44,44,1); background-color: rgba(242,242,242,1);
  hyphens: auto;
  font-family: sans-serif;
  letter-spacing: 0.025em; word-spacing: 0.045em;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  padding: 1em;
}
.a-simpleLetter__salutation {
  font-size: 2em; margin: 0.5em 0 0 0;
}
.a-simpleLetter__content {
  text-align: justify;
  margin: 0 2em 0 2em;
}
.a-simpleLetter__complimentary {
  color: rgba(117,117,117);
  font-size: 1.5em;
}
.a-simpleLetter__signature {
  color: rgba(117,117,117);
  font-size: 2.2em;
  margin: 0.5em;
  margin-left: 2em;
}

@media (max-width: 25em) {
  /* leadForm */
  .m-leadForm__li > label { letter-spacing: 0em; }
  .a-leadForm__input::placeholder, .a-leadForm__textarea::placeholder { opacity: 0; overflow: hidden; }
  .a-leadForm__submitButton {
    max-width: 10em;
    letter-spacing: 0.2em;
  }
}
