{% macro nav(config="") %}
  {% if config == "" %}
  {% else %}
    <nav role="navigation">
      <ul>
        {% for link in config.extra.nav_links %}
          <li>
            <a href="{{ link.url }}">
              {{ link.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
{% endmacro nav %}

{% macro contentinfo(doc="", config="") %}
  {# set local values based on doc, defaulting to config if no doc values #}
  {%- set copyright = doc.extra.copyright | default(value=config.extra.copyright) -%}
  {%- set copyright_url = doc.extra.copyright_url | default(value=config.extra.copyright_url) -%}
  {%- set author = doc.extra.author | default(value=config.extra.author) -%}
  {%- set author_url = doc.extra.author_url | default(value=config.extra.author_url) -%}
  {%- set date = doc.extra.date | default(value=config.extra.date) -%}
  
  {%- if doc == "" or config == "" -%}
  {% else %}
    {% if author or copyright or date %}
      <section role="contentinfo">
        Released
        {% if copyright and copyright_url %}
          under <a href="{{ copyright_url }}">{{ copyright }}</a>
        {% elif copyright %}
          under {{ copyright }}
        {% endif %}
        {% if author and author_url %}
          by <a href="{{ author_url }}">{{ author }}</a>
        {% elif author %}
          by {{ author }}
        {% endif %}
        {% if date %}
          on {{ date }}
        {%- endif -%}.
      </section>
    {% endif %}
  {% endif %}
{% endmacro contentinfo %}

{% macro doc_meta(doc="", config="") %}
  {% if doc == "" or config == "" %}
  {% else %}
    {% if config.extra.show_date or config.extra.show_meta %}
      <p>
        {% if doc.extra.suppress_meta %}
        {% elif config.extra.show_meta %}
          {{ doc.word_count }} words,
            {% if doc.reading_time == 0 %}
              a quick read.
            {% elif doc.reading_time == 1 %}
              1 minute to read.
            {% else %}
              {{ doc.reading_time }} minutes to read.
            {% endif %}
        {% endif %}
        {% if doc.extra.suppress_date %}
        {% elif config.extra.show_date and doc.date %}
          Published on {{ doc.date | date(format="%Y-%m-%d") }}.
        {% endif %}
      </p>
    {% endif %}
  {% endif %}
{% endmacro doc_meta %}

{% macro brief(doc="", config="", meta=true) %}
  {% if doc == "" or config == "" %}
  {% else %}
  <section>
      <h3><a href="{{doc.permalink}}">{{doc.title}}</a></h3>
      {% if meta %}
        {{ self::doc_meta(doc=doc, config=config) }}
      {% endif %}
      {% if doc.summary %}
        <p>{{doc.summary | safe }}</p>
      {% elif doc.description %}
        <p>{{doc.description}}</p>
      {% endif %}
    </section>
  {% endif %}
{% endmacro brief %}
