<form class="questionnaire" action="https://gitlab.us14.list-manage.com/subscribe/post?u=2c1a00f31edbccbdee53e3584&amp;id=66f0fa5580" method="POST">
  <ul>
    <li>
      <label for="EMAIL">
        {% if cta %}
          {{cta}}
        {% else %}
          Subscribe to my mailing list.
        {% endif %}
      </label>
      <input type="email" name="EMAIL" placeholder="lauren.ipsum@test.com">
      <span>
        {% if disclaimer %}
          {{disclaimer}}
        {% else %}
          I won't sell your email or send you spam.
        {% endif %}
      </span>
    </li>
    <li>
      <input class="-submitButton" type="submit" value="Subscribe" >
    </li>
  </ul>
</form>