{% extends "main.html" %}

{% block supplement %}

<section>
  <h3>
    Recent Activity
  </h3>
    {% set page = get_page(path="docs/personal-log.md") %}
    {{ page.summary | safe | replace(from="h3", to="h4") }}
  <h3>
    My Plans
  </h3>
  {% set page = get_page(path="docs/plans.md") %}
  {{ page.content | safe | replace(from="h3", to="h4") }}
  <p>
    <a href="docs/personal-log/">View my complete personal log.</a>
  </p>
</section>

{% endblock supplement %}