{% import "macros/css.html" as css %}
{% import "macros/objects.html" as objects %}
{% if page %}
  {% set doc = page %}
{% elif section %}
  {% set doc = section %}
{% endif %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
    <title>
      {% block head_title %}
        {{ config.title }}
      {% endblock head_title %}
    </title>
    {% block head_description %}
      <meta name="description" content="{% if doc.description %}{{ doc.description }}{% else %}{{ config.description }}{% endif %}">
    {% endblock head_description %}
    {% block css %}
      <style>
        {{ css::framework() }}
        {% block page_style %}
        {% endblock page_style %}
      </style>
    {% endblock css %}
  {% endblock head %}
</head>
<body>
  <header>
    <a class="skipLink" href="#main">Skip to Content</a>
    {% block header %}
      <h1 role="banner" class="-darken">
        {% block doc_title %}
          {% if doc.title %}
            {{ doc.title }}
          {% else %}
            {{ config.title }}
          {% endif %}
        {% endblock doc_title %}
      </h1>
      <h2>
        {% block doc_description %}
          {% if doc.description %}
            {{ doc.description }}
          {% else %}
            {{ config.description }}
          {% endif %}
        {% endblock doc_description %}
      </h2>
      {% block header_nav %}
        {{ objects::nav(config=config) }}
      {% endblock header_nav %}
    {% endblock header %}
  </header>
  <main>
    {% block preface %}
    {% endblock preface %}
    {% block content %}
      <section id="main" role="main">
        {{ doc.content | safe }}
      </section>
      {% block supplement %}
      {% endblock supplement %}
    {% endblock content %}
  </main>
  <footer>
    {% block footer %}
      {% block footer_nav %}
      {% endblock footer_nav %}
      {% block contentinfo %}
        {{ objects::contentinfo(doc=doc,config=config) }}
      {% endblock %}
      {% block colophon %}
        {% if config.extra.colophon %}
          <section class="colophon">
            {{ config.extra.colophon | safe }}
          </section>
        {% endif %}
      {% endblock colophon %}
    {% endblock footer %}
  </footer>
</body>